/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* GENERATL STYLES */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.toolbar-container {
  min-height: unset;
}

ion-loading {
  --background: transparent !important;
  --spinner-color: #1c6dff !important;
  color: #1c6dff;
}

ion-loading .loading-wrapper {
  box-shadow: none !important;
}

ion-datetime {
  --wheel-highlight-background: #fff;
  --background: #fff;
}

.ion-color-danger {
  --ion-color-base: var(--ion-color-danger, #eb445a) !important;
  --ion-color-base-rgb: var(--ion-color-danger-rgb, 235, 68, 90) !important;
  --ion-color-contrast: var(--ion-color-danger-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(
    --ion-color-danger-contrast-rgb,
    255,
    255,
    255
  ) !important;
  --ion-color-shade: var(--ion-color-danger-shade, #cf3c4f) !important;
  --ion-color-tint: var(--ion-color-danger-tint, #ed576b) !important;
}

.ion-color-success {
  --ion-color-base: var(--ion-color-success, #2dd36f) !important;
  --ion-color-base-rgb: var(--ion-color-success-rgb, 45, 211, 111) !important;
  --ion-color-contrast: var(--ion-color-success-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(
    --ion-color-success-contrast-rgb,
    255,
    255,
    255
  ) !important;
  --ion-color-shade: var(--ion-color-success-shade, #28ba62) !important;
  --ion-color-tint: var(--ion-color-success-tint, #42d77d) !important;
}

html {
  color: var(--color);
  background: var(--ion-background-color, #fff);
}

/* TEMP */
* {
  border-radius: 0 !important;
}

:root {
  --ion-color-primary: #ff8787 !important;
}
/* TEMP */

a {
  text-decoration: none;
  color: #333 !important;
}

.tail::after,
.tail::before {
  content: '';
  position: absolute;
  bottom: 1px;
  width: 28.8px;
  height: 28.8px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #fff;
}

.tail::before {
  border-top: none;
  height: 14.4px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.tail__left::after,
.tail__left::before {
  left: -29px;
}
.tail__left::before {
  background: #f9f9f9;
  border-color: #f9f9f9;
  margin-left: 9px;
}

.tail__right::after,
.tail__right::before {
  left: 100%;
}
.tail__right::before {
  background: #d6dfff;
  border-color: #d6dfff;
  margin-left: -9px;
}
