:root {
    --ion-background-color: #fff;
    --ion-tab-bar-background: #FFF;
    --ion-toolbar-background: #FFF;
    --ion-color-primary: grey;
}

::placeholder {
    color: #000;
    opacity: 1;
}

ion-content::part(scroll) {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ion-content::part(scroll)::-webkit-scrollbar { 
    display: none;
}

ion-item {
    --background: white
}

ion-modal ion-content {
    --background: white
}

html, body {
    height: 100%;
}

ion-tab-bar {
    border: none;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 0 10px #3331;
}

ion-header {
    border-top: none;
    overflow: hidden;
}

ion-toolbar {
    --border-width: 0 !important
}

ion-tabs:has(.ion-page.notabs:not(.ion-page-hidden)) > ion-tab-bar {
    display: none !important;
}