<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2oHog7LjZ4bQY02kX5EfkIlcneuOY7C0</string>
	<key>GCM_SENDER_ID</key>
	<string>796890637573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.sportytime</string>
	<key>PROJECT_ID</key>
	<string>sportytime-d49ed</string>
	<key>STORAGE_BUCKET</key>
	<string>sportytime-d49ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796890637573:ios:40c40d919faba627ef836c</string>
</dict>
</plist>